version: '3'

services:
  chimucheck-web:
    container_name: chimucheck-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    # Add other environment variables here if needed
